<div class="header">
  
  <form>
    <div class="title"><h2>I'm looking for..</h2>
 
  
  <input type="text" name="text" class="search" placeholder="Enter a Job description">
  <input type="submit" name="submit" class="submit" value="Search">
  

  <div>
  <input type="checkbox">full time
  <input type="checkbox">part time/casual/freelance
  
  <div>
  <label for="country">select your location</label>
  <select id="country">
    <option value="country"></option>
    <option value="Australia">Australia</option>
    <option value="USA">USA</option>
    <option value="UK">UK</option>
    <option value="Canada">Canada</option>
    <option value="India">India</option>
    <option value="Japan">Japan</option>
  </select>
  </div>

  <!-- <div><button class="submit1">Register</button></div> -->
  <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    
</div>
</div>
</form>

<div class="header1">
  <h4>we are leaders in</h4>
  <h1>Creative Digital Recruitment</h1>

  <p>based in surry hills,the creative hub of Syndey we are surrounded by creativity and that reflects on the type of jobs we recruit for</p>
   <button>FIND OUT MORE ABOUT US!</button>
</div>


<div class="header2">
  <h3>Subscribe To Our Job Seeker Mailing List</h3>
  <input type="text" name="text" placeholder="Enter Your Email Address">
  
</div>